extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 Hello, Potential Employers

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p Below are some of the amazing projects I've created while studying fullstack Javascript at Team Treeehouse. These projects are meant to demonstrate all of my amazing skills in web development. Feel free to click on each project to find out more. 


  article.portfolio-project-thumbs
    .projects-box.box.grid
      //- Use the Pug `each` iterator to loop over the projects in your data file  
      each project, index in projects
        .cell
            a(href=`./project/${projects[index].id}`)
              img.thumbnail(src= `${projects[index].image_urls[0]}`, width= 260, height= 250 alt='pics site')
              h5 #{projects[index].project_name}
        //- Use the example Pug code below and interpolated template literals as needed to dynamically generate:
          //- The paths in the link's href and img's src attributes
          //- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
          //- The project title for the h5 element's text

        //- .cell
        //-   a(href='#')
        //-     img.thumbnail(src='https://placehold.it/550x550', alt='')
        //-     h5 My Site

